*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Cairo', sans-serif;;
}

body{
    background: #FFD07B;
  }
  
  .wrapper{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 1000px;
    width: 100%;
    background: #fff;
    padding: 45px;
    border-radius: 5px;
    box-shadow: 4px 4px 2px rgba(254,236,164,1); 
    margin-top: 40px;
  }
  
  .wrapper h2{
    text-align: right;
    margin-bottom: 20px;
    color: black;
  }

  p{
      text-align: right;
      font-weight:600;

  }
  h4{
    text-align: right;
    
  }

  .infos{
       text-align: right;
       

  }